/*========================================================*/
/* SECTION BODY */
/*========================================================*/
#body .addGigs2 {
    overflow-y: scroll;
    padding-bottom: 100px;
    height: calc(100vh - 140px);
}

#body .addGigs2 .top {
    padding: 20px 50px;
    border-bottom: 1px solid #ECECEC;
}

#body .addGigs2 .top h1 {
    opacity: 0.8;
    font-size: 30px;
    color: #2C263D;
    font-weight: bold;
}

#body .addGigs2 .body {
    padding: 20px 50px;
}

#body .addGigs2 .body span {
    color: #565D74;
    opacity: 0.8;
}

#body .addGigs2 .body>.row {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-between;
}


/*========================================================*/
/*  */
/*========================================================*/
#body .addGigs2 .body .row .leftCon {
    width: 250px;
    height: 196px;
    padding: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 50px #0000000D;
    border: 1px solid #F6F6F6;
    border-radius: 20px;
    opacity: 1;
}

#body .addGigs2 .body .row .leftCon .row {
    margin: 0;
    display: flex;
    font-size: 13px;
    align-items: center;
}

#body .addGigs2 .body .row .leftCon .row .circle {
    opacity: 1;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border-radius: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#body .addGigs2 .body .row .leftCon .row.selected .circle {
    border: 3px solid #E18700;
}

#body .addGigs2 .body .row .leftCon .divider {
    width: 0;
    height: 20px;
    margin: 5px 0 5px 5px;
    border: 1px solid #F6F6F6;
}

#body .addGigs2 .body .row .leftCon .selected {
    color: #E18700;
}

/*========================================================*/
/*  */
/*========================================================*/
#body .addGigs2 .body .row .rightCon {
    opacity: 1;
    width: 750px;
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #ECECEC;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

#body .addGigs2 .body .row .rightCon>.column {
    margin: 0;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
}

#body .addGigs2 .body .row .rightCon> .column span {
    font-size: 13px;
}

#body .addGigs2 .body .row .rightCon> .column input:first-child{
    margin-right: 10px;
}
#body .addGigs2 .body .row .rightCon> .column input {
    opacity: 1;
    width: 300px;
    height: 40px;
    outline: none;
    font-size: 13px;
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
}

/*========================================================*/
/*  */
/*========================================================*/
#body .addGigs2 .body .row .rightCon>.btn-row {
    display: flex;
    padding-right: 40px;
    justify-content: end;
}

#body .addGigs2 .body .row .rightCon>.btn-row button {
    opacity: 1;
    width: 150px;
    height: 50px;
    outline: none;
    font-size: 14px;
    background: none;
    color: #565D74;
    border-radius: 10px;
}

#body .addGigs2 .body .row .rightCon>.btn-row button:last-child {
    color: #fff;
    margin-left: 20px;
    background: #2F417E 0% 0% no-repeat padding-box;
}